

    @import url(https://fonts.googleapis.com/css?family=Montserrat);
    @import url(https://fonts.googleapis.com/css?family=Open+Sans);


    * {
            
            margin: 0;
            padding: 0;
            text-decoration: 0;
            list-style: none;
            
        }
    footer {
            height: auto ;
            width: 100vw;
            background-color:#18181a ;
            
            bottom: 0;
            display: grid;
            justify-items: center;

            overflow: hidden;
        }
    /*********Classes*********/


    .footer-bottom {
            height: 100%;
            width: 100%;
            
            background-color: #080808;
            /*background-color: #343a40;*/
            color:#686868;
            text-align: center;
            padding-top: 20px;
        }

        .footer-links {
            
        }

        .footer-links ul a{
            color: white;
            display: block;
            font-family: 'Montserrat';
            font-size: 20px;
            transition: all .3s;
        }

        .footer-links ul a:hover {
            color: gray;
            margin-left: 15px;
            transition: all .3s;
        }

        .inner-footer {
            color: white;
            width: 100%;
            height: 100%;
            margin: 0 auto;

            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 100px;

        }

        .inner-third {
            
            color: white;
            font-family: 'Montserrat';
            width: 100%;
            height: auto;
            padding-top: 10px;
            display: grid;
            justify-items: center;
        }

        .inner-third .contact-info {
            display: block;
            font-size: 1.1em;
            
            width: 100%;
        }

        .inner-third .contact-info span {
            display: block;
            font-size: 1.1em;
            padding-top: 10px;
        }

        .inner-third h1 {
            padding-bottom: 10px;
        }

        .inner-third:first-child {
            padding-left: 50px;
        }


        .contact-form .contact-input {
        background-color: #272727;
        color:#bebdbd;
        margin-bottom: 10px;
        line-height: 1.5rem;
        padding: .7rem 1.2rem;
        border: none;
        width: 100%;
    }

    .contact-form {
        width: 80%;
    }


    .contact-form .contact-input:focus {
        background-color: #1a1a1a;
    }

    
    .btn {
        padding: .5rem 1rem;
        color: white;
        background-color: #0059ff;
        border: 1px solid transparent;
        
    }

    .btn-big {
        padding: .7rem 1.3rem;
        line-height: 1.3rem;
    }

    /*Media Queries*/

    @media(max-width: 600px) {
        /*.footer .inner-footer {
            width: 90%;
        }
        .inner-footer .contact-form,
        .inner-footer .inner-third {
            width: 100%;
            margin-bottom: 30px;
        }*/

        * {
            overflow-x: hidden;
        }
        footer {
            height: 100%;
            overflow: hidden;
        }

        .footer-bottom {
            display: none;
        }
        .inner-footer {
            display: block;
            
        }

        .inner-third:first-child {
            width: 85%;
        }
        .inner-third:last-child {
            margin-left: 0px;
        }


    }

    @media(max-width: 1200px) {

        * {
            overflow-x: hidden;
        }
    }

    @media(max-width: 600px) {
        .footer-links {
            width: 80%;
        }
    }
